<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png"
        href="https://media.licdn.com/dms/image/D5603AQFGS5iaN7O4eg/profile-displayphoto-shrink_800_800/0/1686819456139?e=2147483647&v=beta&t=hAYMIUicGf0Ont2IJkByxrO6qKkmWFr7hTS8FXciZ4Q">
    <title>onpods backend</title>
    
</head>

<body>
    <div style="display: flex;justify-items: center;justify-content: center;justify-self: center;">
        <img src="https://media.licdn.com/dms/image/D5603AQFGS5iaN7O4eg/profile-displayphoto-shrink_800_800/0/1686819456139?e=2147483647&v=beta&t=hAYMIUicGf0Ont2IJkByxrO6qKkmWFr7hTS8FXciZ4Q"
            alt="onpods" style="width: 40%;object-fit: cover;">
        <div
            style="justify-self: center;justify-content: center;justify-items: center;align-items: center;align-self: center;align-content: center;padding-right: 20px;">
            <h1>Welcome to <span style="color: #2e4bec;">Onpods</span></h1>
            <br />
            <p style="color: #ffffff;font-size: 22px;">"OnPods" is a dynamic multimedia platform that empowers users to
                discover and create engaging content,
                including quotes, podcasts, and audio chat rooms. Users can share their thoughts, listen to podcasts,
                and engage in real-time audio conversations, fostering a vibrant and interactive online community.</p>
            <br />
            <img width="30%" src="https://assets.stickpng.com/images/5a902dbf7f96951c82922875.png" />
        </div>
    </div>
</body>

</html>